.wrapper{
    width: 100%;
    overflow: hidden;
    border: 0px solid rgb(76, 0, 255);
    position: relative;
  }

.hyper-grid-rgb {
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    position: relative;
  }
  
.scene-imgs img {
    position: relative;
    height: 100%;
    width: 1125.3%;
    left: -1025%;
    max-width: none !important;
}

.slider input{
    /* top: 100%; */
    width: 92%;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}
.slider span{
    text-align: left;
    vertical-align: middle;
    display: inline-block;
}

.slider{
    width: 100%;
    padding-left: 1%;
}

.container-scene{
    width: 100%;
    height: 100%;
    /* background-color: #471f1f; */
}

.container-header {
    background-color: #471f1f;
    text-align: center;
    padding-bottom: 40px;
  }

header{
    width: 100%;
}
  
header h1 {
font-size: 90px;
font-weight: 600;
color: #fdfdfe;
text-shadow: 0px 0px 5px #d3c993, 0px 0px 10px #d3c993, 0px 0px 10px #d3c293,
    0px 0px 20px #d3cf93;
display: inline-block;
vertical-align: middle;
font-family: Gill Sans, Verdana;
max-inline-size: 70%;
text-wrap: balance;
text-align: left;

}

header img {
    vertical-align: middle;
    /* padding-right: 10px; */
    
}

content {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

    /* padding-right: 10px;
    padding-left: 10px; */
    margin: 0 auto;
    overflow: hidden;
}

/* .sliderc > div {
    text-align: center;
    padding-bottom: 20px;
  } */
  
/* .sliderc .results-item {
display: inline-block;
height: fit-content;
overflow: hidden;
padding: 10;
font-size: 0;
} */


.sliderc {
    max-width: 1110px;
    margin: 0 auto;
    width: 85%;
  }
  
  .slick-track {
    padding-top: 53px;
    padding-bottom: 53px;
  }
  
  .slick-slide {
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .slick-slide:not(.slick-current) {
    filter: brightness(0.5);
  }
  
  .slick-slide.slick-current {
    transform: scale(1.35);
    position: relative;
    z-index: 1;
  }
  
  /* .slick-slide img {
    width: 100%;
  }
   */

.author-block {
    display: inline-block;
  }

.title {
    display: inline-block;
    vertical-align: middle;
}